{#{% extends 'base.html' %}#}
{##}
{##}
{#{% block title %} {% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            {% for category in categories %}#}
{#                <div class="col-md-6 offset-md-3">#}
{#                    <div class="card">#}
{#                        <img src="..." class="card-img-top" alt="...">#}
{#                        <div class="card-body">#}
{#                            <h5 class="card-title">Card title</h5>#}
{#                            <p class="card-text">Some quick example text to build on the card title and make up the bulk#}
{#                                of the card's content.</p>#}
{#                            <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}